body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
p {
	font-weight: 400;
	color:#888;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	color:#555;
}
.container {
	padding: 0;
	height: 100vh;
}
.header {
	height: 150px;
	background-color: #CDDC39;
}
.selected-item {
	text-align: center;
	font-size: 18px;
	margin: 20px 0;
}
.dropdown {
	margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    position: relative;
}
.dropdown span {
	border: 1px solid #eee;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: block;
	font-size: 14px;
	height: 60px;
	line-height: 60px;
	padding: 0 75px 0 30px;
}
.dropdown.active .selLabel:after {
	content: '\25B2';
}
.dropdown.active .dropdown-list li {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.dropdown.active .dropdown-list li:nth-child(1) {
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
.dropdown.active .dropdown-list li:nth-child(2) {
	-webkit-transition-delay: 50ms;
	transition-delay: 50ms;
}
.dropdown.active .dropdown-list li:nth-child(3) {
	-webkit-transition-delay: 100ms;
	transition-delay: 100ms;
}
.dropdown.active .dropdown-list li:nth-child(4) {
	-webkit-transition-delay: 150ms;
	transition-delay: 150ms;
}
.dropdown.active .dropdown-list li:nth-child(5) {
	-webkit-transition-delay: 200ms;
	transition-delay: 200ms;
}
.dropdown.active .dropdown-list li:nth-child(6) {
	-webkit-transition-delay: 250ms;
	transition-delay: 250ms;
}
.selLabel {
	background-color: #fff;
	width: 100%;
	position: relative;
}
.selLabel:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 15%;
	width: 50px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	height: 70%;
	line-height: 24px;
	border-left: 1px solid #ddd;
}
.selLabel:active {
	background-color: #fff;
	border-color: #ddd;
	color: #000;
}
.selLabel:active:after {
	content: '\25B2';
	color: #fff;
}
.dropdown-list {
	list-style: none;
	position: absolute;
	left: 0;
	top: 62px;
	padding: 0;
	width: 100%;
}
.dropdown-list li {
	background-color: #fff;
	display: block;
	width: 100%;
	-webkit-transition: all 300ms;
	transition: all 300ms;
	opacity: 0;
}
.dropdown-list li span {
	margin-top: 2px;
}
.dropdown-list li:nth-child(1) {
	-webkit-transition-delay: 250ms;
	transition-delay: 250ms;
}
.dropdown-list li:nth-child(2) {
	-webkit-transition-delay: 200ms;
	transition-delay: 200ms;
}
.dropdown-list li:nth-child(3) {
	-webkit-transition-delay: 150ms;
	transition-delay: 150ms;
}
.dropdown-list li:nth-child(4) {
	-webkit-transition-delay: 100ms;
	transition-delay: 100ms;
}
.dropdown-list li:nth-child(5) {
	-webkit-transition-delay: 50ms;
	transition-delay: 50ms;
}
.dropdown-list li:nth-child(6) {
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
.group { 
	position:relative;  
	width: 80%;
	margin: 45px auto;
}
input {
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid #757575;
}
input:focus {
	outline:none; 
}
label {
	color:#999; 
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
input:focus ~ label, input:valid ~ label {
	top:-20px;
	font-size:14px;
	color:#5264AE;
}
.bar { 
	position:relative; 
	display:block; 
	width:100%; 
}
.bar:before, .bar:after 	{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#5264AE; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%; 
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
}
.highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
}
input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
	from {
		background:#5264AE;
	}
	to {
		width:0;
		background:transparent;
	}
}
@-moz-keyframes inputHighlighter {
	from {
		background:#5264AE;
	}
	to {
		width:0;
		background:transparent;
	}
}
@keyframes inputHighlighter {
	from {
		background:#5264AE;
	}
	to {
		width:0;
		background:transparent;
	}
}
.bt-container {
	display: flex;
	justify-content: space-around;
	padding: 30px 0;
	width: 80%;
	margin: 0 auto;
}
.bt {
	font-family: 'Ubuntu', sans-serif;
	display: block;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	border-radius: 4px;
	color: #FFF;
	border: 0;
	outline: 0;
	text-align: center;
	transition: .2s ease-out;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.bt:hover {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.bt:before {
	content: "";
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	z-index: 1;
	will-change: opacity, transform;
	background-color: rgba(236, 240, 241, 0.3);
	top: 50%;
	left: 50%;
	border-radius: 100%;
	width: 0;
	padding-top: 0;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.bt:active:before {
	width: 120%;
	padding-top: 120%;
	transition: width .2s ease-out, padding-top .2s ease-out;
}
.two {
	background-color: #f44336;
}
.two:hover {
	background-color: #f54c40;
}
.listOfGroup {
	border: 1px solid #eee;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: block;
	font-size: 14px;
	height: 60px;
	line-height: 60px;
	padding: 0 75px 0 30px;
	width: 80%;
	margin: 0 auto;
}
.showbox {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 70%;
	display:none;
	z-index: 100;
	background-color: white;
	opacity: 0.7;
}
.loader {
	position: relative;
	margin-top: 70%;
	margin: auto;
	width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	height: 100%;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}
@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}
@-webkit-keyframes color {
	100%, 0% {
		stroke: #d62d20;
	}
	40% {
		stroke: #0057e7;
	}
	66% {
		stroke: #008744;
	}
	80%, 90% {
		stroke: #ffa700;
	}
}
@keyframes color {
	100%, 0% {
		stroke: #d62d20;
	}
	40% {
		stroke: #0057e7;
	}
	66% {
		stroke: #008744;
	}
	80%, 90% {
		stroke: #ffa700;
	}
}
.app-bar {
    background-color: #2196F3;
    height: 56px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.namegroup {
	font-size: 24px;
	color: white;
	font-weight: 500;
	padding-top: 10px;
	margin: 0;
}	
header {
	text-align: center;
}	
.headerfix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
@media (max-width: 640px) { 
	.dropdown span {font-size:1.4rem;} 
}
@media (max-width: 360px) {
	.dropdown span {font-size:1.2rem;}
} 
@media (max-width: 320px) {
	.dropdown span {font-size:1rem;}
} 
@media (min-width:960px) {
	.dropdown span {font-size:1.2rem;}
} 
@media (min-width:1100px) {
	.dropdown span {font-size:1.5rem;}
} 