.menu {
	position: fixed;
	background: #ffffff;
	max-height: calc(100% - 10px);
	overflow: hidden;
	overflow-y: scroll;
	right: 5px;
	top: 5px;
	min-width: 168px;
	box-sizing: border-box;
	border-radius: 1px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	z-index: 1500;
	display: none;
}
.menu.active {
	display: block;
}
.menu ul {
	padding: 8px 10px 8px 16px;
	margin: 0px;
}
.menu ul li {
	list-style-type: none;
	font-size: 0.9em;
	padding-bottom: 20px;
	line-height: 44px;
	height: 48px;
}
.menu ul li:last-child {
	margin-bottom: 0px;
}
#sidebar-toggle {
    display: block;
    position: absolute;
    float: right;
    right: 0;
    margin-top: 9px;
    z-index: 11;
    margin-right: 25px;
}
#sidebar-toggle .bar{
	display: block;
	width: 4px;
	margin-bottom: 4px;
	height: 4px;
	background-color: #fff;
	border-radius: 13px;
}
#sidebar-toggle .bar:last-child{
	margin-bottom: 0;
}
#mask {
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
#mask.active {
	display: block;
}