* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	padding: 0;
	background: #fff;
	font: 16px/2em 'Montserrat', sans-serif;
	margin: 0;
}
img {
	max-width: 150px;
	heigth: auto;
	display: block;
	margin: 0 auto;
}
h1 {
	text-align: center;
	font-size: 26px;
	margin: 10px 0 20px 0;
}
p {
	margin: 0 0 20px 0;
}
p.footer {
	font-size: 12px;
	text-align: center;
}
.nav-tabs {
	overflow: hidden;
	white-space:nowrap;
	border-bottom:none;
	background-color: #fff;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-tabs>li {
	display:inline-block;
	float:none;
	padding: 0;
	margin: 0 -3px;
	width: 17.6%;
	text-align:center;
	height:48px;
}
.nav-tabs>li>a {
	border:none;
	color: black;
	padding-bottom: 20px;
	font-size:14px;
	height:48px;
	text-transform: uppercase;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
	background-color:transparent;
	border-bottom:solid 2px #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border:none;
	color: black;
	background-color:transparent;
	border-bottom:solid 4px #FFEB3B;
	height:48px;
}
.time {
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding: 12px 2px;
    border-radius: 28px;
    width: 55px;
    height: 55px;
}
.typeofclass {
	float: left;
    margin-left: 10px;
    background-color: #2196f3;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}
.nameofclass {
	margin-left: 70px;
	min-height: 50px;
}

.roomofclass {
	float: right;
    margin-right: 20px;
	padding: 5px;
}
.teacherofclass {
	    margin-left: 70px;
}
.tab-content {
	height: 95vh;
	margin-top: 70px;
}
.listofclass {
    width: 100%;
}
.timeblock {
	float: right;
	margin: 7px 10px;
	background-color: #2196f3;
	color: white;
	width: 60px;
	height: 38px;
	text-align: center;
	border-radius: 5px;
	\: 0px;
	padding-top: 2px;
}

.ui-page .ui-page-theme-a .ui-page-active {
	outline:0;
}
.swipegory {
	position: relative;
	height: 480px;
	background: #fff;
	padding-top: 70px;
	overflow: hidden;
	transition: 1s height;
	transform: translate3d(0, 0, 0);
	margin-bottom: 5px;
}
.swipegory nav ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: #fff;
	margin: 0;
}
.swipegory nav li {
	position: absolute;
	top: 0;
	left: 100%;
	display: block;
	transition: 1s all;
	transform: translate3d(0, 0, 0);
	line-height: 70px;
	height: 70px;
	font-size: 12px;
	text-transform: uppercase;
}
.swipegory nav li.prev {
	left: 0;
}
.swipegory nav li.cur {
	left: 50%;
}
.swipegory nav li.cur a {
	color: #000;
}
.swipegory nav li.cur a:after {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.swipegory nav li.next {
	left: 100%;
}
.swipegory nav li.before {
	left: 0;
}
.swipegory nav li.after {
	left: 100%;
}
.swipegory nav li a {
	position: relative;
	color: #999;
	text-decoration: none;
	padding: 0 20px;
	height: 70px;
	line-height: 70px;
	display: block;
	overflow: hidden;
	transition: 1s color;
}
.swipegory nav li a:after {
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 0;
	background: #2196f3;
	width: 100%;
	height: 3px;
	opacity: 0;
	transform: translate3d(0, 3px, 0);
}
.swipegory nav li a.now:after {
	background: #fde93c;
}
.swipegory ul.panes {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: move;
}
.swipegory ul.panes li {
	list-style-type: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	padding: 20px 20px 0 20px;
	transition: 1s all;
	transform: translate3d(0, 0, 0);
}
.swipegory ul.panes li.prev {
	transform: translate3d(-200%, 0, 0);
}
.swipegory ul.panes li.cur {
	transform: translate3d(-100%, 0, 0);
}
.swipegory ul.panes li.next {
	transform: translate3d(0, 0, 0);
}
.swipegory ul.panes li.before {
	transform: translate3d(-200%, 0, 0);
}
.swipegory ul.panes li.after {
	transform: translate3d(0, 0, 0);
}